
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<div class="container" style="background: white">
    <div class="about about-bg-color" style="background: white">

        <nav class="pt-4" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-edit">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>

        <br><br>
        <div class="about-box-color">
            <div class="text-center my-3">
                <img src="/assets/images/logo.png" alt="logo">
            </div>
            <p>


                <h2>Dedicated to saving lives</h2>

                We provide a blood and transplantation service to the NHS, looking after blood donation services in Egypt and transplant services across Egypt. This includes managing the donation, storage and transplantation of blood, organs, tissues, bone marrow and stem cells, and researching new treatments and processes.
                <br><br><br>
                <h3>
                    What do we do
                </h3>

                <h5> Blood services </h5>


                We provide a safe, accessible and effective blood service for:<br>
                <ul>
                    <li>donors - easier booking systems and thousands of places to donate</li>
                    <li>patients - safe and consistent supply of blood</li>
                    <li>the NHS - lower costs to hospitals through improved integration and planning of end-to-end supply chain
                </ul>
                <h5>Blood donation</h5>


                <strong>Giving blood saves lives </strong>

                But it’s always in high demand. Our lifesaving service is required 365 days a year, and our dedicated staff work day and night to process, test and distribute donated blood.  Every year we need around 135,000 new donors to ensure we have the right mix of blood groups to meet patient needs now and in the future.
                <br><br><br>


                <h4>We are always working to improve our service and save more lives.</h4>
                Some of our strategies, such as for organ donation, are available separately and have defined targets.<br>

                If a business unit is in its strategic cycle, our strategic plan gives an overview of progress to date and priorities for the year ahead.


                <br><br><br>
                <h4>Caring | Expert | Quality</h4>


                Our three core principles are critical to our service, guiding everything we do and inspiring us to be the best.
                <ul>
                    <li>We care about our donors, their families, the patients we serve, and our people.</li>

                    <li>We are expert at meeting the needs of those who use our service and those who operate it.</li>

                    <li>We provide quality products, services and experiences for donors, patients and colleagues</li>
                </ul>

            </p>
        </div>
    </div>
    </div>