
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/User_Layout_ar.cshtml";
}
<div class="container" style="background: white">
    <div class="about about-bg-color"  style="background: white">

            <nav class="pt-4" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-edit">
                    <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li>
                    <li class="breadcrumb-item active" aria-current="page">من نحن</li>
                </ol>
            </nav>
            <div class="about-box-color">
                <div class="text-center my-3">
                    <img src="/assets/images/logo.png" alt="logo">
                </div>
                <p>


                    <h2>نكرس حياتنا لإنقاذ الأرواح</h2>

                    نحن نقدم خدمة الدم وزرع الدم إلى NHS ، ونعتني بخدمات التبرع بالدم في مصر وخدمات زراعة الأعضاء في جميع أنحاء مصر. ويشمل ذلك إدارة التبرع بالدم والأعضاء والأنسجة ونخاع العظام والخلايا الجذعية وتخزينها وزرعها ، والبحث عن علاجات وعمليات جديدة.
                    <br><br><br>
                    <h3>
                        ماذا نفعل
                    </h3>

                    <h5>خدمات الدم</h5>


                    نحن نقدم خدمة دم آمنة وسهلة الوصول  وفعالة لـ:<br>
                    <ul>
                        <li>المتبرعون - أنظمة حجز أسهل وآلاف الأماكن للتبرع</li>
                        <li>المرضى - إمداد آمن ومتسق بالدم</li>
                        <li>NHS - انخفاض التكاليف على المستشفيات من خلال تحسين التكامل والتخطيط لسلسلة التوريد من البداية إلى النهاية
                    </ul>
                    <h5>تبرع بالدم</h5>


                    <strong>التبرع بالدم ينقذ الأرواح</strong>

                    لكن الطلب عليه مرتفع دائمًا. تتطلب خدمتنا المنقذة للحياة 365 يومًا في السنة ، ويعمل موظفونا المتفانون ليل نهار لمعالجة واختبار وتوزيع الدم المتبرع به. نحتاج كل عام إلى حوالي 135000 متبرع جديد لضمان حصولنا على المزيج الصحيح من فصائل الدم لتلبية احتياجات المرضى الآن وفي المستقبل.
                    <br><br><br>


                    <h4>نحن نعمل دائمًا على تحسين خدماتنا وإنقاذ المزيد من الأرواح.</h4>
                    تتوفر بعض استراتيجياتنا ، مثل التبرع بالأعضاء ، بشكل منفصل ولها أهداف محددة.<br>

                    إذا كانت وحدة الأعمال في دورتها الإستراتيجية ، فإن خطتنا الإستراتيجية تعطي لمحة عامة عن التقدم المحرز حتى الآن والأولويات للعام المقبل.


                    <br><br><br>
                    <h4>رعاية | خبير | جودة</h4>


                    تعتبر مبادئنا الأساسية الثلاثة ضرورية لخدمتنا ، فهي توجه كل ما نقوم به وتلهمنا لنكون الأفضل.
                    <ul>
                        <li>نحن نهتم بالمانحين وعائلاتهم والمرضى الذين نخدمهم وموظفينا.</li>

                        <li>نحن خبراء في تلبية احتياجات أولئك الذين يستخدمون خدمتنا وأولئك الذين يقومون بتشغيلها.</li>

                        <li>نحن نقدم منتجات وخدمات وتجارب عالية الجودة للمتبرعين والمرضى والزملاء</li>
                    </ul>

                </p>
            </div>

        </div>
    </div>
