
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/User_Layout_ar.cshtml";
}

<div class="container" style="background: white">
    <section class="articles">
        <h2>Articles</h2>
        <div class="card article-card">
            <img src="/assets/images/p2.jpg" class="card-img-top" alt="">
            <a class="heart-icon">
                <button class="btn">
                    <i class="far fa-heart"></i>
                </button>
            </a>
            <div class="card-body">
                <h5 class="card-title">Method of disease prevention</h5>
                <p class="card-text">
                    It is a long established fact that a reader will be distracted by the readable content of a
                    page when looking at its layout
                </p>
                <a href="./article-details-en.html" class="btn btn-primary">Details</a>
            </div>
        </div>
        <div class="card article-card">
            <img src="/assets/images/p2.jpg" class="card-img-top" alt="">
            <a class="heart-icon">
                <button class="btn">
                    <i class="far fa-heart"></i>
                </button>
            </a>
            <div class="card-body">
                <h5 class="card-title">Method of disease prevention</h5>
                <p class="card-text">
                    It is a long established fact that a reader will be distracted by the readable content of a
                    page when looking at its layout
                </p>
                <a href="./article-details-en.html" class="btn btn-primary">Details</a>
            </div>
        </div>
        <div class="card article-card">
            <img src="/assets/images/p2.jpg" class="card-img-top" alt="">
            <a class="heart-icon">
                <button class="btn">
                    <i class="far fa-heart"></i>
                </button>
            </a>
            <div class="card-body">
                <h5 class="card-title">Method of disease prevention</h5>
                <p class="card-text">
                    It is a long established fact that a reader will be distracted by the readable content of a
                    page when looking at its layout
                </p>
                <a href="./article-details-en.html" class="btn btn-primary">Details</a>
            </div>
        </div>

    </section>
    </div>