
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/User_Layout_ar.cshtml";
}
<div class="container" style="background: white">

    <div class="contact-bg" style="background: white">

        <nav class="pt-4" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-edit">
                <li class="breadcrumb-item"><a href="/Home/Index_ar">الرئيسية</a></li>
                <li class="breadcrumb-item active" aria-current="page">تواصل معنا</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md">
                <div class="contact-info">
                    <h3>اتصل بنا</h3>
                    <div class="contact-img">
                        <img src="/assets/images/logo.png" alt="logo">
                    </div>
                    <div class="content px-3 pt-3">
                        <p>
                            <span>الجوال :</span>
                            0123456789
                        </p>
                        <p>
                            <span>فاكس :</span>
                            0123456789
                        </p>
                        <p>
                            <span>البريد الإلكترونى :</span>
                            name@name.com
                        </p>
                    </div>
                    <div class="social-icons">
                        <h4>تواصل معنا</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <span class="icon icon-google">
                                        <i class="fab fa-google-plus-g"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-whatsapp">
                                        <i class="fab fa-whatsapp"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-instagram">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-youtube">
                                        <i class="fab fa-youtube"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="contact-box">
                    <h3>تواصل معنا</h3>
                    <form class="login-form px-3 pt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="الاسم">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="البريد الإلكترونى">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="الجوال">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputPassword1"
                                   placeholder="عنوان الرسالة">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      placeholder="نص الرسالة"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn send-btn">ارسال</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>