
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="container" style="background: white">
    <h2>Admin Dashboard</h2>
    <br /><br />
    <table class="table">
        <tr>
            <td>
                <div class="text-center">
                    <a href="/Donors/Create" class="btn btn-primary"><input type="submit" value="Donors" class="btn btn-default" /></a>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <a href="/Hospitals/Create" class="btn btn-primary"><input type="submit" value="Hospitals" class="btn btn-default" /></a>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <a href="/Patient_Requests/Create" class="btn btn-primary"><input type="submit" value="Patients" class="btn btn-default" /></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text-center">
                    <a href="/BloodBanks/Create" class="btn btn-primary"><input type="submit" value="Blood banks" class="btn btn-default" /></a>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <a href="/BloodBags/Create" class="btn btn-primary"><input type="submit" value="Blood bags" class="btn btn-default" /></a>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <a href="/Staffs/Create" class="btn btn-primary"><input type="submit" value="Staff" class="btn btn-default" /></a>
                </div>
            </td>
        </tr>
    </table>
    <hr />
    </div>