<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/plugins/OwlCarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/OwlCarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/style-en.css">
    <title>بنك الدم</title>
</head>
<body>
    <!-- Start Header -->
    <header>
        <nav class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-2 padding-sm">
                        <div class="lang">
                            <a href="/Home/Index_ar">
                                <span class="lang-ar">عربى</span>
                            </a>
                            <a href="/Home/Index">
                                <span>EN</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-3 padding-sm">
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-7 pr-0">
                        <div class="contact">
                            <div class="contact-message d-inline-block border-right">
                                <i class="far fa-envelope"></i>
                                <span class="pr-2">name@name.com</span>
                            </div>
                            <div class="contact-phone d-inline-block">
                                <i class="fas fa-phone-alt"></i>
                                <span>+966506954964</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/Home/Index_ar">
                    <img src="/assets/images/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item border-right">
                            <a class="nav-link" href="/Home/Index_ar">الرئيسية<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item border-right">
                            <a class="nav-link" href="/Home/About_ar">عن بنك الدم</a>
                        </li>
                        <li class="nav-item border-right">
                            <a class="nav-link" href="/Home/Article_ar">المقالات</a>
                        </li>
                        <li class="nav-item border-right">
                            <a class="nav-link" href="/Donations/Create_ar">طلبات التبرع</a>
                        </li>
                        <li class="nav-item border-right">
                            <a class="nav-link" href="/Home/About_ar">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contact_ar">اتصل بنا</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a href="/Donors/Create_ar">
                            <button class="btn signup-btn my-2 my-sm-0" type="button">
                                انشاء حساب جديد
                            </button>
                        </a>
                        <a href="#">
                            <button class="btn login-btn my-2 my-sm-0" type="button">الدخول</button>
                        </a>
                    </form>
                </div>
            </div>
        </nav>

    </header>

    <div class="about about-bg-color">

            <br><br>
            <div class="about-box-color">
                @RenderBody()


        </div>
    </div>

    <!-- Start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 footer-info">
                    <img src="/assets/images/logo.png" alt="logo">
                    <h2>بنك الدم</h2>
                    <p>
                        بنك الدم هذا النص هو مثال لنص يمكن ان يستبدل فى نفس المساحه, لقد تم توليد هذا النص من مولد النص
                        العربى حيث يمكنك توليد مثل هذا النص أو العديد من النصوص الاخرى إضافة الى زيادة عدد الحروف التى
                        يولدها التطبيق يطلع على صوره حقيقية للتصمصم
                    </p>
                </div>
                <div class="col-lg-4 footer-links">
                    <h3>الرئيسية</h3>
                    <ul class="list-unstyled">
                        <li><a href="/Home/About_ar">عن بنك الدم</a></li>
                        <li><a href="/Home/Article_ar">المقالات</a></li>
                        <li><a href="/Donations/Create_ar">طلبات التبرع</a></li>
                        <li><a href="/Home/About_ar">من نحن</a></li>
                        <li><a href="/Home/Contactt_ar">اتصل بنا</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 footer-app">
                    <h3>متوفر على</h3>
                    <a href="#"><img src="/assets/images/google1.png" alt="google"></a>
                    <a href="#"><img src="/assets/images/ios1.png" alt="ios"></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                    <div class="col-lg-4 copy">
                        <p>
                            جميع الحقوق محفوظه ل
                            <span> بنك الدم </span>
                            <i class="far fa-copyright"></i>
                            2019
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->
</body>
</html>